<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bucketlist</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../scripts/user.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">Bucket List</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control">
            </div>
            <a href="../logout"><button type="button" class="btn btn-success">Sign out</button></a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
      <!-- wishList Beggining -->
    <div class="jumbotron clearfix">
        <!-- PROFILE ASIDE  -->
      <div class="aside-container col-md-2 col-md-offset-1 col-xs-12 col-xs-offset-4">
        <aside class="profile">
          <img src="../img/user_profile_img.png"  class="profile-picture img-circle img-responsive ">
          <h2>{{user.username}}</h2>
          <button type="button" class="btn btn-success">Friends</button>
          <button type="button" class="btn btn-success add-wish">+Add</button>
          <button type="button" class="btn btn-success">Sort</button>
        </aside>
      </div>
      <div class="container col-md-8 col-xs-12" id="wishes" data-user-id='{{user.username}}'>
        <!-- new wish form -->
        <div class="row new-wish-form">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <form id="add-new-wish" class="col-md-offset-0 col-xs-12">
                    <div class="col-md-6 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <label for='name'>Wish Name:</label>
                          <input type="text" name="name" required="true" />
                        </li>
                        <li class="list-group-item">
                          <label for="type">What kind of wish is this?</label><br>
                          <input type="radio" name="type" value="person" required="true" />Someone you want to see or meet<br>
                          <input type="radio" name="type" value="place" />Somewhere you want to go<br>
                          <input type="radio" name="type" value="thing" />Something you want to get
                        </li>
                        <li class="list-group-item">
                          <label for="price">How much does it cost?</label>
                          <input type="text" name="price" />
                        </li>
                        <li class="list-group-item">
                          <label for="location">Where is it?</label>
                          <input type="text" name="location"/>
                        </li>
                        <li class="list-group-item">
                          <label for="dateToVisit">When are you planning to go?</label>
                          <input type="text" name="dateToVisit"/>
                        </li>
                        <li class="list-group-item">
                          <label for="websiteLink">Where can you find it on the Internet?</label>
                          <input type="text" name="websiteLink" placeholder="Link to a website" />
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <label for="imgUrl">What does it look like?</label>
                          <input type="text" name="imgUrl" placeholder="Link to an image" />
                        </li>
                        <li class="list-group-item">
                          <label for="description">Describe it:</label>
                          <textarea name="description"></textarea>
                        </li>
                        <li class="list-group-item">
                          <label for="tags">Add some tags:</label>
                          <input type="text" name="tags"/>
                        </li>
                        <li class="list-group-item">
                          <label for="status">Status?</label>
                          <input type="text" name="status"/>
                        </li>
                        <li class="list-group-item">
                          <label for="contactInfoPhone">Phone Number:</label>
                          <input type="text" name="contactInfoPhone" /><br>
                          <label for="contactInfoAddress">Address:</label>
                          <input type="text" name="contactInfoAddress" /><br>
                          <label for="contactInfoEmail">Email:</label>
                          <input type="text" name="contactInfoEmail" /><br>
                        </li>
                        <li class="list-group-item">
                          <button type="submit" class="btn btn-success">Add New Wish</button>
                          <button type="button" class="btn cancel-button">Cancel</button>
                        </li>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end new wish form -->
        <script id="wish-template" type="text/x-handlebars-template">
          <div class="row wish \{{type}}" data-wish-id='\{{_id}}'>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <!-- begin wish internal row -->
                  <div class='row'>
                    <!-- Wish Item -->
                    <div class="col-md-6 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item clearfix">
                          <!-- Wish Image -->
                          <div class="col-md-12 col-xs-12 thumbnail wish-art">
                            <img src="\{{imgUrl}}" alt="wish-image">
                          </div>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Name:</h4>
                          <span class='wish-name'>\{{name}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Price:</h4>
                          <span class='wish-price'>\{{price}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Location:</h4>
                          <span class='wish-location'>\{{location}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Date to visit:</h4>
                          <span class='wish-date'>\{{dateToVisit}}</span>
                        </li>
                     </div>
                     <div class="col-md-6 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>Description:</h4>
                          <span class='wish-description'>\{{description}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Tags:</h4>
                          <span class='wish-tags'>\{{tags}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Status:</h4>
                          <span class='wish-status'>\{{status}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class="wish-contact">Contact Info:</h4>
                          <h5 class="wish-contact-phone">Phone number:</h5>
                          <span class="wish-contact-phone">\{{contactInfo.phoneNumber}}</span>
                          <h5 class="wish-contact-address">Address:</h5>
                          <span class="wish-contact-address">\{{contactInfo.address}}</span>
                          <h5 class="wish-contact-email">Email:</h5>
                          <span class="wish-contact-email">\{{contactInfo.email}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- end of wishlist internal row -->
                  <div class="edit-buttons">
                    <a href="\{{websiteLink}}"><button type="button" class="btn btn-success link-button" >Link to Website</button></a>
                    <button type="button" class="btn btn-warning delete-button">Delete</button>
                    <button type="button" class="btn btn-success edit-button">Edit</button>
                    <a href="../user/{{user.username}}/\{{_id}}"><button type="button" class="btn btn-success share-button">Share</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>
      </div>
    </div>

    <div class="container">
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
